body{

	background-color: #99C68E;

}

.header{

	text-align: center;
	font-size: 30px;

}

h2{
	
	font-size: 25px;
	text-align: center;
}

.email{
	text-align: center;
	font-family: courier;
	font-size: 19px;
}

.include{
	font-family: courier;
	text-align: center;
	font-size: 17px;
}

li{
font-family: courier; 
list-style-type: none;

}

.pic{
	height: 400px;
}

.pic1{
	background-image: url('./images/monkey3.png');

	

}



