body{
	background-image: url('http://static.tumblr.com/d3a0248eb69b937dcdb737ecb6a2099f/mikt5b8/pYKnq3nv7/tumblr_static_afgiq7khm74kg80o00sksksk0.jpg');
	}



.story{
	display: block;
	background-color: #FFFCF2;
	border: 4px solid silver;
	/*background-color: #99C68E; */
	/*background-repeat: no-repeat;*/
	font-family: lucida;
	font-size: 17px;
	border-radius:5px;
}

.btn{
	background-color: #f2f2e5;
	border-color: silver;  
}

/*.background{*/
/*	display: block;*/
	/*background-image: url('./images/glasses.png'); */
	/*background-repeat: no-repeat; 
	background-size: 100%;*/ 
	/*background-image: url('./images/bed1.png');*/
	/*opacity: .9;
	height: 268px;
	border: 4px solid silver;*/

/*if*/ /*you add this back, need to make the story col-md-6 rather than 12*/
