body{
	background-image: url('./images/FAQbacksmall.png');
	}


#boxtry{
	position: relative;
	padding: 1rem;
	margin: 1rem -15px 0;
	border: solid #f7f7f9;
	border-width: .2rem 0 0;

.story{
	display: block;
/* 	background-color: #FFFCF2; */
	border: 2px solid silver;
	/*background-color: #99C68E; */
	/*background-repeat: no-repeat;*/
	font-family: lucida;
	font-size: 17px;
	border-radius:5px;
}

.btn{
	background-color: #f2f2e5;
	border-color: silver;  
}


	
/* .background{ */
/* 	display: block; */
/* 	background-image: url('./images/FAQback.gif'); */
	/*background-repeat: no-repeat; 
	background-size: 100%;*/ 
	/*background-image: url('./images/bed1.png');*/
	/*opacity: .9;
	height: 268px;
	border: 4px solid silver;*/

/*if*/ /*you add this back, need to make the story col-md-6 rather than 12*/
