
body{
	background-image: url('./images/FAQbacksmall.png');
	}

.home{
	font-size: 30px;
/* 	font-family: courier; */
	padding-top: 300px;
	display: block;
	font-size: 50px;

}

.btn{
	background-color: #f2f2e5;
	border-color: silver;  
}
