body{
/* 	background-image: url('./images/mainback6.png'); */
	background-image: url('./images/wallpocketbackgroundblue.png'); 
	background-size: 100%;
	/*background-color: #99C68E;*/ /*#B5EAAA; */
	background-repeat: no-repeat;

	
}

.home{
	font-size: 30px;
	font-family: courier;
	padding-top: 300px;
	display: block;
	font-size: 50px;

}

.btn{
	background-color: #f2f2e5;
	border-color: silver;  
}
